.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
  }
  
  .carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
    scrollbar-width: none; /* hide scrollbar in Firefox */
  }
  
  /* hide scrollbar in webkit browser */
  .carousel-content::-webkit-scrollbar,
  .carousel-content::-webkit-scrollbar {
    display: none;
  }
  
  .carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    text-align: center;
  }
  /* the Carousel can show 2, 3, and 4 item at once. */
  .carousel-content.show-2 > * {
    width: 50%;
  }
  
  .carousel-content.show-3 > * {
    width: calc(100% / 3);
  }
  
  .carousel-content.show-4 > * {
    width: calc(100% / 4);
  }
  .carousel-content.show-5 > * {
    width: calc(100% / 5);
  }
  /* max 6 items to show */
  .carousel-content.show-6 > * {
    width: calc(100% / 6);
  }

  .carousel-wrapper button {
    border-radius: 10rem;
    background-color: rgba(69,204,184,0.3);
    height: 56px;
    width: 58px;
    border: 0;
    margin: 0 1rem;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-wrapper button:hover {
    background-color: #45ccb8 !important;
    background-color: none !important;
  }
  .carousel-wrapper button:focus,
  .carousel-wrapper button:active {
    background-color: #45ccb8;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .carousel-wrapper button[data-bs-slide="next"] {
    right: 0;
  }

  
  .left-arrow,
  .right-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .left-arrow {
    left: 24px;
  }
  
  .right-arrow {
    right: 24px;
  }
  
  /* don't show arrows on mobile (only if the carousel is swipeable which it isn't)
  @media (hover: none) and (pointer: coarse) {
    .left-arrow,
    .right-arrow {
      display: none;
    }
  } */
  